<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Application CRUD</title>
       <link href="~/Lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Lib/jquery/jquery.js"></script>
    <script src="~/Lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/contents/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
